.d-flex {
    display: flex;
}

.j-c-c {
    justify-content: center;
}

.a-a-c {
    align-items: center;
}

.m-auto {
    margin: auto;
}

.ml-5 {
    margin-left: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.mb-3 {
    margin-bottom: 3px;
}
/* constructor */
a.preview-page {
    margin: 10px 0;
    padding: 10px;
    background-color: #41b883;
    color: #fff;
    cursor: pointer;
}

.construtor-container .option-block {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px 1px #cacaca;
}

.construtor-container .option-header .sort-control i {
    cursor: pointer;
}

.construtor-container .option-header .options .preview:hover {
    color: #808080;
}

.construtor-container .option-header .options .preview {
    margin-right: 5px;
    color: #cacaca;
    cursor: pointer;
}

.construtor-container .option-header .options {
    display: flex;
    flex-direction: row;
}

.construtor-container .option-header .checkbox {
    display: flex;
    font-size: 12px;
}

.construtor-container .option-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid #fafafa;
}

.construtor-container .constructor-block {
    width: 100%;
}

.construtor-container .constructor-file-upload-block .upload-file {
    width: 100%;
}

.construtor-container .constructor-file-upload-block .file-preview {
    width: 75%;
    max-width: 500px;
}

.construtor-container .resources-block .resource-block {
    margin-top: 15px;
}

.construtor-container .resources-block .resource-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.construtor-container .resources-block .resource-block .title {
    font-size: 14px;
    text-transform: none;
}

.construtor-container .resources-block .resource-block .body {
    padding: 5px;
    box-shadow: 0 0 3px 3px #cacaca;
    height: 100%;
    width: 100%;
}

.construtor-container .resources-block .add-resource-block {
    margin-top: 10px;
    text-align: center;
}

.construtor-container .resources-block .add-resource-block .add-resource {
    background-color: #cacaca;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
}

.construtor-container .constructor-file-upload-block {
    width: 100%;
    text-align: center;
}

.add-new-option .select-option-body .photo img {
    width: 90%;
}

.add-new-option .select-option-body .photo {
    width: 100%;
    text-align: center;
}

.column-inner {
    background-color: #cacaca2e;
    margin: 10px;
    padding: 20px;
}

.resources-block {
    background: rgba(239, 239, 239, 0.5);
}
a.preview-page {
    margin: 10px 0;
    padding: 10px;
    background-color: #41b883;
    color: #fff;
    cursor: pointer;
}
.styles-option a.open {
    padding: 2px;
    background-color: #cacaca;
    border: unset;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}
.styles-option textarea{
    width: 100%;

}
/* end constructor */
.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 16px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 5px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}