.fs-4px {
    font-size: 4px;
}

.fs-5px {
    font-size: 5px;
}

.fs-6px {
    font-size: 6px;
}

.fs-7px {
    font-size: 7px;
}

.fs-8px {
    font-size: 8px;
}

.fs-9px {
    font-size: 9px;
}

.fs-10px {
    font-size: 10px;
}

.fs-11px {
    font-size: 11px;
}

.fs-12px {
    font-size: 12px;
}

.fs-13px {
    font-size: 13px;
}

.fs-14px {
    font-size: 14px;
}

.fs-15px {
    font-size: 15px;
}

.fs-16px {
    font-size: 16px;
}

.fs-17px {
    font-size: 17px;
}

.fs-18px {
    font-size: 18px;
}

.fs-19px {
    font-size: 19px;
}

.fs-20px {
    font-size: 20px;
}

.fs-21px {
    font-size: 21px;
}

.fs-22px {
    font-size: 22px;
}

.fs-23px {
    font-size: 23px;
}

.fs-24px {
    font-size: 24px;
}

.fs-25px {
    font-size: 25px;
}

.fs-26px {
    font-size: 26px;
}

.fs-27px {
    font-size: 27px;
}

.fs-28px {
    font-size: 28px;
}

.fs-29px {
    font-size: 29px;
}

.fs-30px {
    font-size: 30px;
}

.fs-31px {
    font-size: 31px;
}

.fs-32px {
    font-size: 32px;
}

.fs-33px {
    font-size: 33px;
}

.fs-34px {
    font-size: 34px;
}

.fs-35px {
    font-size: 35px;
}

.fs-36px {
    font-size: 36px;
}

.fs-37px {
    font-size: 37px;
}

.fs-38px {
    font-size: 38px;
}

.fs-39px {
    font-size: 39px;
}

.fs-40px {
    font-size: 40px;
}

.fs-41px {
    font-size: 41px;
}

.fs-42px {
    font-size: 42px;
}

.fs-43px {
    font-size: 43px;
}

.fs-44px {
    font-size: 44px;
}

.fs-45px {
    font-size: 45px;
}

.fs-46px {
    font-size: 46px;
}

.fs-47px {
    font-size: 47px;
}

.fs-48px {
    font-size: 48px;
}

.fs-49px {
    font-size: 49px;
}

.fs-50px {
    font-size: 50px;
}

.fs-51px {
    font-size: 51px;
}

.fs-52px {
    font-size: 52px;
}

.fs-53px {
    font-size: 53px;
}

.fs-54px {
    font-size: 54px;
}

.fs-55px {
    font-size: 55px;
}

.fs-56px {
    font-size: 56px;
}

.fs-57px {
    font-size: 57px;
}

.fs-58px {
    font-size: 58px;
}

.fs-59px {
    font-size: 59px;
}

.fs-60px {
    font-size: 60px;
}

.fs-61px {
    font-size: 61px;
}

.fs-62px {
    font-size: 62px;
}

.fs-63px {
    font-size: 63px;
}

.fs-64px {
    font-size: 64px;
}

.lh-4px {
    line-height: 4px;
}

.lh-5px {
    line-height: 5px;
}

.lh-6px {
    line-height: 6px;
}

.lh-7px {
    line-height: 7px;
}

.lh-8px {
    line-height: 8px;
}

.lh-9px {
    line-height: 9px;
}

.lh-10px {
    line-height: 10px;
}

.lh-11px {
    line-height: 11px;
}

.lh-12px {
    line-height: 12px;
}

.lh-13px {
    line-height: 13px;
}

.lh-14px {
    line-height: 14px;
}

.lh-15px {
    line-height: 15px;
}

.lh-16px {
    line-height: 16px;
}

.lh-17px {
    line-height: 17px;
}

.lh-18px {
    line-height: 18px;
}

.lh-19px {
    line-height: 19px;
}

.lh-20px {
    line-height: 20px;
}

.lh-21px {
    line-height: 21px;
}

.lh-22px {
    line-height: 22px;
}

.lh-23px {
    line-height: 23px;
}

.lh-24px {
    line-height: 24px;
}

.lh-25px {
    line-height: 25px;
}

.lh-26px {
    line-height: 26px;
}

.lh-27px {
    line-height: 27px;
}

.lh-28px {
    line-height: 28px;
}

.lh-29px {
    line-height: 29px;
}

.lh-30px {
    line-height: 30px;
}

.lh-31px {
    line-height: 31px;
}

.lh-32px {
    line-height: 32px;
}

.lh-33px {
    line-height: 33px;
}

.lh-34px {
    line-height: 34px;
}

.lh-35px {
    line-height: 35px;
}

.lh-36px {
    line-height: 36px;
}

.lh-37px {
    line-height: 37px;
}

.lh-38px {
    line-height: 38px;
}

.lh-39px {
    line-height: 39px;
}

.lh-40px {
    line-height: 40px;
}

.lh-41px {
    line-height: 41px;
}

.lh-42px {
    line-height: 42px;
}

.lh-43px {
    line-height: 43px;
}

.lh-44px {
    line-height: 44px;
}

.lh-45px {
    line-height: 45px;
}

.lh-46px {
    line-height: 46px;
}

.lh-47px {
    line-height: 47px;
}

.lh-48px {
    line-height: 48px;
}

.lh-49px {
    line-height: 49px;
}

.lh-50px {
    line-height: 50px;
}

.lh-51px {
    line-height: 51px;
}

.lh-52px {
    line-height: 52px;
}

.lh-53px {
    line-height: 53px;
}

.lh-54px {
    line-height: 54px;
}

.lh-55px {
    line-height: 55px;
}

.lh-56px {
    line-height: 56px;
}

.lh-57px {
    line-height: 57px;
}

.lh-58px {
    line-height: 58px;
}

.lh-59px {
    line-height: 59px;
}

.lh-60px {
    line-height: 60px;
}

.lh-61px {
    line-height: 61px;
}

.lh-62px {
    line-height: 62px;
}

.lh-63px {
    line-height: 63px;
}

.lh-64px {
    line-height: 64px;
}

.p-5px {
    padding: 5px;
}

.p-10px {
    padding: 10px;
}

.p-15px {
    padding: 15px;
}

.p-20px {
    padding: 20px;
}

.p-25px {
    padding: 25px;
}

.p-30px {
    padding: 30px;
}

.p-35px {
    padding: 35px;
}

.p-40px {
    padding: 40px;
}

.p-45px {
    padding: 45px;
}

.p-50px {
    padding: 50px;
}

.p-55px {
    padding: 55px;
}

.p-60px {
    padding: 60px;
}

.p-65px {
    padding: 65px;
}

.p-70px {
    padding: 70px;
}

.p-75px {
    padding: 75px;
}

.p-80px {
    padding: 80px;
}

.p-85px {
    padding: 85px;
}

.p-90px {
    padding: 90px;
}

.p-95px {
    padding: 95px;
}

.p-100px {
    padding: 100px;
}

.pt-5px {
    padding-top: 5px;
}

.pt-10px {
    padding-top: 10px;
}

.pt-15px {
    padding-top: 15px;
}

.pt-20px {
    padding-top: 20px;
}

.pt-25px {
    padding-top: 25px;
}

.pt-30px {
    padding-top: 30px;
}

.pt-35px {
    padding-top: 35px;
}

.pt-40px {
    padding-top: 40px;
}

.pt-45px {
    padding-top: 45px;
}

.pt-50px {
    padding-top: 50px;
}

.pt-55px {
    padding-top: 55px;
}

.pt-60px {
    padding-top: 60px;
}

.pt-65px {
    padding-top: 65px;
}

.pt-70px {
    padding-top: 70px;
}

.pt-75px {
    padding-top: 75px;
}

.pt-80px {
    padding-top: 80px;
}

.pt-85px {
    padding-top: 85px;
}

.pt-90px {
    padding-top: 90px;
}

.pt-95px {
    padding-top: 95px;
}

.pt-100px {
    padding-top: 100px;
}

.pr-5px {
    padding-right: 5px;
}

.pr-10px {
    padding-right: 10px;
}

.pr-15px {
    padding-right: 15px;
}

.pr-20px {
    padding-right: 20px;
}

.pr-25px {
    padding-right: 25px;
}

.pr-30px {
    padding-right: 30px;
}

.pr-35px {
    padding-right: 35px;
}

.pr-40px {
    padding-right: 40px;
}

.pr-45px {
    padding-right: 45px;
}

.pr-50px {
    padding-right: 50px;
}

.pr-55px {
    padding-right: 55px;
}

.pr-60px {
    padding-right: 60px;
}

.pr-65px {
    padding-right: 65px;
}

.pr-70px {
    padding-right: 70px;
}

.pr-75px {
    padding-right: 75px;
}

.pr-80px {
    padding-right: 80px;
}

.pr-85px {
    padding-right: 85px;
}

.pr-90px {
    padding-right: 90px;
}

.pr-95px {
    padding-right: 95px;
}

.pr-100px {
    padding-right: 100px;
}

.pb-5px {
    padding-bottom: 5px;
}

.pb-10px {
    padding-bottom: 10px;
}

.pb-15px {
    padding-bottom: 15px;
}

.pb-20px {
    padding-bottom: 20px;
}

.pb-25px {
    padding-bottom: 25px;
}

.pb-30px {
    padding-bottom: 30px;
}

.pb-35px {
    padding-bottom: 35px;
}

.pb-40px {
    padding-bottom: 40px;
}

.pb-45px {
    padding-bottom: 45px;
}

.pb-50px {
    padding-bottom: 50px;
}

.pb-55px {
    padding-bottom: 55px;
}

.pb-60px {
    padding-bottom: 60px;
}

.pb-65px {
    padding-bottom: 65px;
}

.pb-70px {
    padding-bottom: 70px;
}

.pb-75px {
    padding-bottom: 75px;
}

.pb-80px {
    padding-bottom: 80px;
}

.pb-85px {
    padding-bottom: 85px;
}

.pb-90px {
    padding-bottom: 90px;
}

.pb-95px {
    padding-bottom: 95px;
}

.pb-100px {
    padding-bottom: 100px;
}

.pl-5px {
    padding-left: 5px;
}

.pl-10px {
    padding-left: 10px;
}

.pl-15px {
    padding-left: 15px;
}

.pl-20px {
    padding-left: 20px;
}

.pl-25px {
    padding-left: 25px;
}

.pl-30px {
    padding-left: 30px;
}

.pl-35px {
    padding-left: 35px;
}

.pl-40px {
    padding-left: 40px;
}

.pl-45px {
    padding-left: 45px;
}

.pl-50px {
    padding-left: 50px;
}

.pl-55px {
    padding-left: 55px;
}

.pl-60px {
    padding-left: 60px;
}

.pl-65px {
    padding-left: 65px;
}

.pl-70px {
    padding-left: 70px;
}

.pl-75px {
    padding-left: 75px;
}

.pl-80px {
    padding-left: 80px;
}

.pl-85px {
    padding-left: 85px;
}

.pl-90px {
    padding-left: 90px;
}

.pl-95px {
    padding-left: 95px;
}

.pl-100px {
    padding-left: 100px;
}
.ph-0{
    padding-left: 0;
    padding-right: 0;
}
.ph-5px {
    padding-left: 5px;
    padding-right: 5px;
}

.ph-10px {
    padding-left: 10px;
    padding-right: 10px;
}

.ph-15px {
    padding-left: 15px;
    padding-right: 15px;
}

.ph-20px {
    padding-left: 20px;
    padding-right: 20px;
}

.ph-25px {
    padding-left: 25px;
    padding-right: 25px;
}

.ph-30px {
    padding-left: 30px;
    padding-right: 30px;
}

.ph-35px {
    padding-left: 35px;
    padding-right: 35px;
}

.ph-40px {
    padding-left: 40px;
    padding-right: 40px;
}

.ph-45px {
    padding-left: 45px;
    padding-right: 45px;
}

.ph-50px {
    padding-left: 50px;
    padding-right: 50px;
}

.ph-55px {
    padding-left: 55px;
    padding-right: 55px;
}

.ph-60px {
    padding-left: 60px;
    padding-right: 60px;
}

.ph-65px {
    padding-left: 65px;
    padding-right: 65px;
}

.ph-70px {
    padding-left: 70px;
    padding-right: 70px;
}

.ph-75px {
    padding-left: 75px;
    padding-right: 75px;
}

.ph-80px {
    padding-left: 80px;
    padding-right: 80px;
}

.ph-85px {
    padding-left: 85px;
    padding-right: 85px;
}

.ph-90px {
    padding-left: 90px;
    padding-right: 90px;
}

.ph-95px {
    padding-left: 95px;
    padding-right: 95px;
}

.ph-100px {
    padding-left: 100px;
    padding-right: 100px;
}
.pv-5px {
    padding-top: 5px;
    padding-bottom: 5px;
}

.pv-10px {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pv-15px {
    padding-top: 15px;
    padding-bottom: 15px;
}

.pv-20px {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pv-25px {
    padding-top: 25px;
    padding-bottom: 25px;
}

.pv-30px {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pv-35px {
    padding-top: 35px;
    padding-bottom: 35px;
}

.pv-40px {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pv-45px {
    padding-top: 45px;
    padding-bottom: 45px;
}

.pv-50px {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pv-55px {
    padding-top: 55px;
    padding-bottom: 55px;
}

.pv-60px {
    padding-top: 60px;
    padding-bottom: 60px;
}

.pv-65px {
    padding-top: 65px;
    padding-bottom: 65px;
}

.pv-70px {
    padding-top: 70px;
    padding-bottom: 70px;
}

.pv-75px {
    padding-top: 75px;
    padding-bottom: 75px;
}

.pv-80px {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pv-85px {
    padding-top: 85px;
    padding-bottom: 85px;
}

.pv-90px {
    padding-top: 90px;
    padding-bottom: 90px;
}

.pv-95px {
    padding-top: 95px;
    padding-bottom: 95px;
}

.pv-100px {
    padding-top: 100px;
    padding-bottom: 100px;
}

.m-5px {
    margin: 5px;
}

.m-10px {
    margin: 10px;
}

.m-15px {
    margin: 15px;
}

.m-20px {
    margin: 20px;
}

.m-25px {
    margin: 25px;
}

.m-30px {
    margin: 30px;
}

.m-35px {
    margin: 35px;
}

.m-40px {
    margin: 40px;
}

.m-45px {
    margin: 45px;
}

.m-50px {
    margin: 50px;
}

.m-55px {
    margin: 55px;
}

.m-60px {
    margin: 60px;
}

.m-65px {
    margin: 65px;
}

.m-70px {
    margin: 70px;
}

.m-75px {
    margin: 75px;
}

.m-80px {
    margin: 80px;
}

.m-85px {
    margin: 85px;
}

.m-90px {
    margin: 90px;
}

.m-95px {
    margin: 95px;
}

.m-100px {
    margin: 100px;
}

.mt-5px {
    margin-top: 5px;
}

.mt-10px {
    margin-top: 10px;
}

.mt-15px {
    margin-top: 15px;
}

.mt-20px {
    margin-top: 20px;
}

.mt-25px {
    margin-top: 25px;
}

.mt-30px {
    margin-top: 30px;
}

.mt-35px {
    margin-top: 35px;
}

.mt-40px {
    margin-top: 40px;
}

.mt-45px {
    margin-top: 45px;
}

.mt-50px {
    margin-top: 50px;
}

.mt-55px {
    margin-top: 55px;
}

.mt-60px {
    margin-top: 60px;
}

.mt-65px {
    margin-top: 65px;
}

.mt-70px {
    margin-top: 70px;
}

.mt-75px {
    margin-top: 75px;
}

.mt-80px {
    margin-top: 80px;
}

.mt-85px {
    margin-top: 85px;
}

.mt-90px {
    margin-top: 90px;
}

.mt-95px {
    margin-top: 95px;
}

.mt-100px {
    margin-top: 100px;
}

.mr-5px {
    margin-right: 5px;
}

.mr-10px {
    margin-right: 10px;
}

.mr-15px {
    margin-right: 15px;
}

.mr-20px {
    margin-right: 20px;
}

.mr-25px {
    margin-right: 25px;
}

.mr-30px {
    margin-right: 30px;
}

.mr-35px {
    margin-right: 35px;
}

.mr-40px {
    margin-right: 40px;
}

.mr-45px {
    margin-right: 45px;
}

.mr-50px {
    margin-right: 50px;
}

.mr-55px {
    margin-right: 55px;
}

.mr-60px {
    margin-right: 60px;
}

.mr-65px {
    margin-right: 65px;
}

.mr-70px {
    margin-right: 70px;
}

.mr-75px {
    margin-right: 75px;
}

.mr-80px {
    margin-right: 80px;
}

.mr-85px {
    margin-right: 85px;
}

.mr-90px {
    margin-right: 90px;
}

.mr-95px {
    margin-right: 95px;
}

.mr-100px {
    margin-right: 100px;
}

.mb-5px {
    margin-bottom: 5px;
}

.mb-10px {
    margin-bottom: 10px;
}

.mb-15px {
    margin-bottom: 15px;
}

.mb-20px {
    margin-bottom: 20px;
}

.mb-25px {
    margin-bottom: 25px;
}

.mb-30px {
    margin-bottom: 30px;
}

.mb-35px {
    margin-bottom: 35px;
}

.mb-40px {
    margin-bottom: 40px;
}

.mb-45px {
    margin-bottom: 45px;
}

.mb-50px {
    margin-bottom: 50px;
}

.mb-55px {
    margin-bottom: 55px;
}

.mb-60px {
    margin-bottom: 60px;
}

.mb-65px {
    margin-bottom: 65px;
}

.mb-70px {
    margin-bottom: 70px;
}

.mb-75px {
    margin-bottom: 75px;
}

.mb-80px {
    margin-bottom: 80px;
}

.mb-85px {
    margin-bottom: 85px;
}

.mb-90px {
    margin-bottom: 90px;
}

.mb-95px {
    margin-bottom: 95px;
}

.mb-100px {
    margin-bottom: 100px;
}

.ml-5px {
    margin-left: 5px;
}

.ml-10px {
    margin-left: 10px;
}

.ml-15px {
    margin-left: 15px;
}

.ml-20px {
    margin-left: 20px;
}

.ml-25px {
    margin-left: 25px;
}

.ml-30px {
    margin-left: 30px;
}

.ml-35px {
    margin-left: 35px;
}

.ml-40px {
    margin-left: 40px;
}

.ml-45px {
    margin-left: 45px;
}

.ml-50px {
    margin-left: 50px;
}

.ml-55px {
    margin-left: 55px;
}

.ml-60px {
    margin-left: 60px;
}

.ml-65px {
    margin-left: 65px;
}

.ml-70px {
    margin-left: 70px;
}

.ml-75px {
    margin-left: 75px;
}

.ml-80px {
    margin-left: 80px;
}

.ml-85px {
    margin-left: 85px;
}

.ml-90px {
    margin-left: 90px;
}

.ml-95px {
    margin-left: 95px;
}

.ml-100px {
    margin-left: 100px;
}

.mh-5px {
    margin-left: 5px;
    margin-right: 5px;
}

.mh-10px {
    margin-left: 10px;
    margin-right: 10px;
}

.mh-15px {
    margin-left: 15px;
    margin-right: 15px;
}

.mh-20px {
    margin-left: 20px;
    margin-right: 20px;
}

.mh-25px {
    margin-left: 25px;
    margin-right: 25px;
}

.mh-30px {
    margin-left: 30px;
    margin-right: 30px;
}

.mh-35px {
    margin-left: 35px;
    margin-right: 35px;
}

.mh-40px {
    margin-left: 40px;
    margin-right: 40px;
}

.mh-45px {
    margin-left: 45px;
    margin-right: 45px;
}

.mh-50px {
    margin-left: 50px;
    margin-right: 50px;
}

.mh-55px {
    margin-left: 55px;
    margin-right: 55px;
}

.mh-60px {
    margin-left: 60px;
    margin-right: 60px;
}

.mh-65px {
    margin-left: 65px;
    margin-right: 65px;
}

.mh-70px {
    margin-left: 70px;
    margin-right: 70px;
}

.mh-75px {
    margin-left: 75px;
    margin-right: 75px;
}

.mh-80px {
    margin-left: 80px;
    margin-right: 80px;
}

.mh-85px {
    margin-left: 85px;
    margin-right: 85px;
}

.mh-90px {
    margin-left: 90px;
    margin-right: 90px;
}

.mh-95px {
    margin-left: 95px;
    margin-right: 95px;
}

.mh-100px {
    margin-left: 100px;
    margin-right: 100px;
}

.mv-5px {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mv-10px {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mv-15px {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mv-20px {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mv-25px {
    margin-top: 25px;
    margin-bottom: 25px;
}

.mv-30px {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mv-35px {
    margin-top: 35px;
    margin-bottom: 35px;
}

.mv-40px {
    margin-top: 40px;
    margin-bottom: 40px;
}

.mv-45px {
    margin-top: 45px;
    margin-bottom: 45px;
}

.mv-50px {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mv-55px {
    margin-top: 55px;
    margin-bottom: 55px;
}

.mv-60px {
    margin-top: 60px;
    margin-bottom: 60px;
}

.mv-65px {
    margin-top: 65px;
    margin-bottom: 65px;
}

.mv-70px {
    margin-top: 70px;
    margin-bottom: 70px;
}

.mv-75px {
    margin-top: 75px;
    margin-bottom: 75px;
}

.mv-80px {
    margin-top: 80px;
    margin-bottom: 80px;
}

.mv-85px {
    margin-top: 85px;
    margin-bottom: 85px;
}

.mv-90px {
    margin-top: 90px;
    margin-bottom: 90px;
}

.mv-95px {
    margin-top: 95px;
    margin-bottom: 95px;
}

.mv-100px {
    margin-top: 100px;
    margin-bottom: 100px;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-4 {
    z-index: 4;
}

.z-index-5 {
    z-index: 5;
}

.z-index-6 {
    z-index: 6;
}

.z-index-7 {
    z-index: 7;
}

.z-index-8 {
    z-index: 8;
}

.z-index-9 {
    z-index: 9;
}

.z-index-10 {
    z-index: 10;
}

.z-index-11 {
    z-index: 11;
}

.z-index-12 {
    z-index: 12;
}

.z-index-13 {
    z-index: 13;
}

.z-index-14 {
    z-index: 14;
}

.z-index-15 {
    z-index: 15;
}

.w-5px {
    width: 5px;
}

.w-10px {
    width: 10px;
}

.w-15px {
    width: 15px;
}

.w-20px {
    width: 20px;
}

.w-25px {
    width: 25px;
}

.w-30px {
    width: 30px;
}

.w-35px {
    width: 35px;
}

.w-40px {
    width: 40px;
}

.w-45px {
    width: 45px;
}

.w-50px {
    width: 50px;
}

.w-55px {
    width: 55px;
}

.w-60px {
    width: 60px;
}

.w-65px {
    width: 65px;
}

.w-70px {
    width: 70px;
}

.w-75px {
    width: 75px;
}

.w-80px {
    width: 80px;
}

.w-85px {
    width: 85px;
}

.w-90px {
    width: 90px;
}

.w-95px {
    width: 95px;
}

.w-100px {
    width: 100px;
}

.w-5pr {
    width: 5%;
}

.w-10pr {
    width: 10%;
}

.w-15pr {
    width: 15%;
}

.w-20pr {
    width: 20%;
}

.w-25pr {
    width: 25%;
}

.w-30pr {
    width: 30%;
}

.w-35pr {
    width: 35%;
}

.w-40pr {
    width: 40%;
}

.w-45pr {
    width: 45%;
}

.w-50pr {
    width: 50%;
}

.w-55pr {
    width: 55%;
}

.w-60pr {
    width: 60%;
}

.w-65pr {
    width: 65%;
}

.w-70pr {
    width: 70%;
}

.w-75pr {
    width: 75%;
}

.w-80pr {
    width: 80%;
}

.w-85pr {
    width: 85%;
}

.w-90pr {
    width: 90%;
}

.w-95pr {
    width: 95%;
}

.w-100pr {
    width: 100%;
}

.h-5px {
    height: 5px;
}

.h-10px {
    height: 10px;
}

.h-15px {
    height: 15px;
}

.h-20px {
    height: 20px;
}

.h-25px {
    height: 25px;
}

.h-30px {
    height: 30px;
}

.h-35px {
    height: 35px;
}

.h-40px {
    height: 40px;
}

.h-45px {
    height: 45px;
}

.h-50px {
    height: 50px;
}

.h-55px {
    height: 55px;
}

.h-60px {
    height: 60px;
}

.h-65px {
    height: 65px;
}

.h-70px {
    height: 70px;
}

.h-75px {
    height: 75px;
}

.h-80px {
    height: 80px;
}

.h-85px {
    height: 85px;
}

.h-90px {
    height: 90px;
}

.h-95px {
    height: 95px;
}

.h-100px {
    height: 100px;
}

.h-5pr {
    height: 5%;
}

.h-10pr {
    height: 10%;
}

.h-15pr {
    height: 15%;
}

.h-20pr {
    height: 20%;
}

.h-25pr {
    height: 25%;
}

.h-30pr {
    height: 30%;
}

.h-35pr {
    height: 35%;
}

.h-40pr {
    height: 40%;
}

.h-45pr {
    height: 45%;
}

.h-50pr {
    height: 50%;
}

.h-55pr {
    height: 55%;
}

.h-60pr {
    height: 60%;
}

.h-65pr {
    height: 65%;
}

.h-70pr {
    height: 70%;
}

.h-75pr {
    height: 75%;
}

.h-80pr {
    height: 80%;
}

.h-85pr {
    height: 85%;
}

.h-90pr {
    height: 90%;
}

.h-95pr {
    height: 95%;
}

.h-100pr {
    height: 100%;
}

.f-up {
    text-transform: uppercase;
}

.t-t-none {
    text-transform: none;
}

.t-d-none {
    text-decoration: none;
}
.t-d-none:hover {
    text-decoration: none;
    color: inherit;
}
/**flex*/
.f-w-w {
    flex-wrap: wrap;
}
.j-c-a {
    justify-content: space-around;
}
.a-a-e{
    align-items: flex-end;
}
.j-c-end {
    justify-content: flex-end;
}
.j-c-b {
    justify-content: space-between;
}
.j-c-s-e {
    justify-content: space-evenly;
}
.j-c-c {
    justify-content: center;
}
.a-a-c {
    align-items: center;
}
/** end flex*/

.ob-f-cont {
    object-fit: contain;
}

.ob-f-cove {
    object-fit: cover;
}

.ob-f-fill {
    object-fit: fill;
}
.w-b-ba {
    word-break: break-all;
}

.m-w-100pr {
    max-width: 100%;
}
.w-auto {
    width: auto;
}
.w-m-c{
    width: max-content;
}
.h-a {
    height: auto;
}
.h-100-p {
    height: 100%;
}
.h-max-c{
    height: max-content;
}
.min-h-max-c{
    min-height: max-content;
}
.max-h-100pr{
    max-height: 100%;
}
.p-none {
    padding: 0;
}
.t-d-underline{
    text-decoration: underline;
}

.back-c-trans{
    background-color: transparent;
}
.back-c-fff {
    background-color: #fff;
}
.back-unset {
    background: none;
}