.custom-container {
    max-width: 1200px !important;
}
/*font-family*/
@font-face {
    font-family: OpenSansSemiBold; /* Имя шрифта */
    src: url(/vendor/page_constructor/fonts/open-sans/OpenSans-SemiBold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: OpenSansRegular; /* Имя шрифта */
    src: url(/vendor/page_constructor/fonts/open-sans/OpenSans-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: OpenSansBold; /* Имя шрифта */
    src: url(/vendor/page_constructor/fonts/open-sans/OpenSans-Bold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: OpenSansLight; /* Имя шрифта */
    src: url(/vendor/page_constructor/fonts/open-sans/OpenSans-Light.ttf); /* Путь к файлу со шрифтом */
}
/*/font-family*/

/* fonts*/

.f-f-ossb {
    font-family: OpenSansSemiBold;
}

.f-f-osr {
    font-family: OpenSansRegular;
}

.f-f-osb {
    font-family: OpenSansBold;
}
.f-f-osl {
    font-family: OpenSansLight;
}
/* fonts*/
/* templates.slider.slider_type_one */
.slider-type-one img {
    height: 80vh;
    -o-object-fit: contain;
    object-fit: contain;
}

.slider-type-one .owl-prev i, .slider-type-one .owl-next i {
    transform: scale(2, 4);
    color: #ccc;
}

.slider-type-one .owl-prev {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 40%;
    margin-left: 40px;
    display: block !IMPORTANT;
}

.slider-type-one .owl-next {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 40%;
    right: 40px;
    display: block !IMPORTANT;
    border: 0px solid black;
}

.photo-block, .video-block {
    width: 100%;
    position: relative;
}

.photo-block img {
    width: 100%;
}

.photo-block .title, .video-block .title {
    position: absolute;
    font-size: 36px;
    color: #fff;
    border-bottom: 1px solid #fff;
    width: 75%;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.constructor-slider .img-fluid {
    margin: auto;
}
/* end templates.slider.slider_type_one */


